body {
    margin-top: 5vh;
    text-align: center;
}
#Generate {
    background-color: greenyellow;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: large;
    color: black;
    margin: 0 20px 20px;
    cursor: pointer;
    align-self: center;
}
.title {
    font-size: x-large;
    margin-bottom: 10px;
}
.nickname {
    margin: 15px;
    font-size: x-large;
    font-weight: bold;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 10% 0;
    margin: 0px 30%;
    align-items: center;
}
.grid-item {
    border: 3px black solid;
    height: 100%;
    width: 100%;
    padding-top: 10%;
}
div.grid-item>img {
    height: 55%;
    width: 55%;
    padding: 0px 5px 0px;
    margin-top: 10px;
}