body {
    text-align: center;
    margin-top: 20vh;
}
#Card {
    margin: 0 30% 30px;
    padding: 7%;
    background-color: black;
    color: whitesmoke;
    border-radius: 10%;
    box-shadow: 5px 10px 8px #888888;
    font-size: xx-large;
    font-weight: bolder;
}
#Counter {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: xx-large;
    color: darkcyan;
}
input {
    text-align: center;
    margin-bottom: 10px;
    font-size: larger;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: whitesmoke;
    border-radius: 5px;
}
button {
    margin-bottom: 15px;
}
.title {
    font-size: x-large;
    color: blue;
    margin-bottom: 10px;
}
.scCounter {
    font-size: x-large;
    font-weight: bold;
}
#True {
    color: green;
    margin-right: 15%;
}
#False {
    color: red;
    margin-left: 15%;
}
.modalWindow{
    text-align: center;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    overflow: clip;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.modalContent{
    background-color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}
#Message {
    margin-bottom: 10px;
    font-size: x-large;
}