label {
    float: left;
    margin-right: 10px;
}
body {
    height: 100%;
}
.butt {
    margin: 20px;
}
#MyCanvas {
    display: block;
    border-style: dashed;
    border-width: medium;
    border-color: black;
}